.DishCoverContainer {
  width: 48.5%;
  padding-top: 1%;
  padding-left: 1%;
  z-index: 1;
}

.DishCoverContainer .imgContainer {
  position: relative;
}

.DishCoverContainer .imgContainer .dishPic {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: -1;
}

.DishCoverContainer .imgContainer .text-top-right {
  width: 60px;
  height: 25px;
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  color: black;
  text-align: center;
  font-family: Impact, Helveica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  top: 8px;
  right: 10px;
}

.DishCoverContainer .imgContainer .text-bottom-left {
  color: white;
  font-family: Impact, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  bottom: 8px;
  left: 10px;
}

/* .DishCoverContainer .imgContainer .text-bottom-right-up {
  color: white;
  font-size: 1em;
  font-weight: 200;
  text-decoration: line-through;
  position: absolute;
  bottom: calc(1.1em + 10px);
  right: 10px;
} */

.DishCoverContainer .imgContainer .text-bottom-right-down {
  color: #ff4040;
  font-family: Impact, Helvetica, sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  right: 10px;
}
