.HomePageContainer {
  background-image: url("../../../assets/toronto.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  text-align: center;
}

.HomePageContainer .addressInputContainer {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

.HomePageContainer .addressInputContainer .titleHeading {
  text-shadow: 1px 1px 3px whitesmoke;
}

.HomePageContainer .addressInputContainer .inputbuttonContainer {
  width: 100%;
  height: 36px;
}

.HomePageContainer .addressInputContainer .inputbuttonContainer .addressInput {
  width: 50%;
  height: 100%;
  font-size: 20px;
  cursor: text;
  margin: 0em;
}

.HomePageContainer .addressInputContainer .discoverButton {
  height: 38px;
  width: 50.5%;
  position: relative;
  top: 15px;
  background-color: #ff4136;
  color: white;
  font-family: Impact, Helvetica, sans-serif;
  font-size: 17px;
}
